*
!.gitignore
## BepInEx
!/winhttp.dll
!/doorstop_config.ini
!/BepInEx
!/BepInEx/core
!/BepInEx/core/*
!/BepInEx/config
!/BepInEx/config/BepInEx.cfg
!/BepInEx/config/HookGenPatcher.cfg

!/BepInEx/patchers
!/BepInEx/patchers/**/*

## Plugins here
!/BepInEx/plugins
!**/plugins/*.dll
!**/plugins/Bundles
!**/plugins/Bundles/*

!**/plugins/2018-LC_API
!**/plugins/2018-LC_API/*

!**/plugins/LethalLib
!**/plugins/LethalLib/*

!**/plugins/ScoopysVarietyMod
!**/plugins/ScoopysVarietyMod/*

!**/plugins/Scopophobia
!**/plugins/Scopophobia/*

!**/plugins/FacilityMeltdown
!**/plugins/FacilityMeltdown/*

## Files in plugins folder
!**/plugins/skillmenu
!**/plugins/SellCorpses
!**/plugins/*.WAD