*
!.gitignore
## BepInEx
!/winhttp.dll
!/doorstop_config.ini
!/BepInEx
!/BepInEx/core
!/BepInEx/core/*
!/BepInEx/config
!/BepInEx/config/BepInEx.cfg
!/BepInEx/plugins

## Plugins here
!**/plugins/*.dll
!**/plugins/skillmenu
!**/plugins/Bundles
!**/plugins/Bundles/*
!**/plugins/2018-LC_API
!**/plugins/2018-LC_API/*